.movie {
  display: flex;
  justify-content: space-between;
  width: 45%;
  background-color: #f8dc81;
  margin-bottom: 50px;
  align-items: flex-start;
  padding: 20px;
  border-radius: 5px;
  font-weight: 300;
  color: #3b5360;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie img {
  border-radius: 3px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
  top: -50px;
  position: relative;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.movie .movie__title,
.movie .movie__year {
  margin: 0;
  font-weight: 300;
}
.movie .movie__title {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
}

.movie .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 5px;
}

.movie__genres li,
.movie .movie__year {
  margin-right: 10px;
  font-size: 14px;
}
